.float-container {
    border: 3px solid #fff;
    padding: 2px;
}

.col-left {
    width: 280px;
    height: 2560px;
    background-color: #DAE3F3;
    float: left;
    padding: 10px;
    border: 2px solid white;
    position: fixed;
}

.col-right {
    width: 680px;
    float: left;
    padding: 2px;
    border: 2px solid white;
    margin: 0px 340px;
}

table, td {
border: 1px solid black;
}




